<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<META content="text/html; charset=UTF-8" http-equiv="Content-Type">
<META http-equiv="Content-Style-Type" content="text/css">
<TITLE>Welcome to Webcat</TITLE>
<link rel="stylesheet" href="webcat.css" type="text/css">
</HEAD>
<BODY bgColor=#ffffff>

<table width="100%">

<tr><td><h1><del>NACSIS</del><ins>CiNii Books</ins> Webcat</H1></td>


<td align="right">
<a href="http://ci.nii.ac.jp/books"><IMG border="0" alt="CiNii Books" src="cinii_books_ja.gif"></a>

<a href="http://webcatplus.nii.ac.jp/"><IMG border="0" alt="Webcat Plus" src="http://www.nii.ac.jp/CAT-ILL/GIF/banner2.gif"></a>
</td></tr><tr>

<td>

<H3>総合目録データベースWWW検索サービス</H3></td>

</td></tr></table>

<hr>

Webcatは，学術研究利用のために供するものであり，営利のための利用はできません。 <BR>

なお，Webcatで検索した資料について，図書館に利用を申し込む際には，各図書館で利用条件が異なる場合がありますので，あらかじめ電話等で御確認ください。<br>



[<A href="help2.html">Webcatとは</A>] || 

[<A href="help.html">利用の手引き</A>] || 

［<a href="http://www.nii.ac.jp/CAT-ILL/webcat/webcat-mul.html">多言語表示の仕方</a>］||

[<A href="webcat_eng.html">English version here</A>] 



<HR>



<form action="" method="get">

<input checked name=db type=radio value=all>全資料 

<input name=db type=radio value=tosho>図書 

<input name=db type=radio value=zasshi>雑誌 



<p>

<table>

<tbody>

<tr>

<td>タイトル・ワード

<td>：

<td><INPUT type="text" name=title size=55>

<tr>

<td>著者名

<td>：

<td><INPUT type="text" name=auth size=55>

<tr>

<td>出版者

<td>：

<td><INPUT type="text" name=pub size=55>

<tr>

<td>出版年

<td>：

<td><INPUT type="text" name=year size=55>

<tr>

<td>標準番号

<td>：

<td><INPUT type="text" name=isbn size=55>

<tr>

<td>フリーワード

<td>：

<td><INPUT type="text" name=kenmei size=55>

<tr>

<td>フルタイトル

<td>：

<td><INPUT type="text" name=fulltitle size=55>

</tr>

</tbody>

</table>

<INPUT type=submit value=検索開始> <INPUT type=reset value=検索値クリア> 

</FORM>



<hr>

<a name="news">

<FONT color=#ff0000>［ご案内］</FONT> <BR></a>

<ul>
<p><li>

Webcatは平成24(2012)年度末を以てサービスを終了することとなりました。後継サービスとして，検索機能をより拡張したCiNii Booksを提供しています。<br>
<br>
<dd>CiNii Books - 大学図書館の本をさがす <a href="http://ci.nii.ac.jp/books/">http://ci.nii.ac.jp/books/</a><br>
<dd>詳細は，<a href="http://www.nii.ac.jp/CAT-ILL/PUB/nl2/No33/002P.htm">NACSIS-CAT/ILLニュースレター33号 (2011.7.29)</a>をご覧ください。
<!--
<p><li>
ご注意：<del>NACSIS</del><ins>CiNii Books</ins> Webcatは，Internet Explorer 7ベータ版では正しく表示されない場合があります。

<p><li>

2005年度中にWebcat Plus と Webcat を一本化することは，見送らせていただきました。
-->
<!--
<p><li>

各機関のシステムからWebcatを横断的に検索するなどの形での利用を希望する場合は，

<a href="http://www.nii.ac.jp/CAT-ILL/webcat/webcat-use.html">次の要領

</a>

であらかじめ申請してください。

個人的利用については，

<a href="http://www.nii.ac.jp/CAT-ILL/webcat/webcat-use.html">こちら

</a>

を御覧ください。
-->




</ul>



<hr>



[<A href="http://www.nii.ac.jp/CAT-ILL/">

NACSIS-CAT/ILL（目録所在情報サービス）</A>] || 

[<A href="http://www.nii.ac.jp/">

国立情報学研究所(NII)</A>] 

<!--
<HR>

<address>catadm@nii.ac.jp</address>

<p>

Copyright(C) 2005 NII ALL RIGHTS RESERVED
-->

</body>
</html>
